<!--
  Generated template for the SplashPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Welcome!</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Greetings! Thanks for using this app!
</ion-content>
