<!--
  Generated template for the EditEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit Event</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label fixed>Title</ion-label>
      <ion-input type="text" placeholder="Title" [(ngModel)]="eventData.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Desc.</ion-label>
      <ion-input type="text" placeholder="Description" [(ngModel)]="eventData.desc"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY HH:mm" pickerFormat="MMM DD YYYY h mm A" min="2017" max="2100" [(ngModel)]="eventData.startDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>End Date</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY HH:mm" pickerFormat="MMM DD YYYY h mm A" min="2017" max="2100" [(ngModel)]="eventData.endDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select [(ngModel)]="eventData.type">
        <ion-option value="party">Party</ion-option>
        <ion-option value="deadline">Deadline</ion-option>
        <ion-option value="meeting">Meeting</ion-option>
        <ion-option value="birthday">Birthday</ion-option>
      </ion-select>
    </ion-item>

    <input #fileInput type="file" accept="image/*" (change)="imageSelected(fileInput.files)">
    <img src={{eventData.photo}}>

  </ion-list>

  <button ion-button block (click)="updateEvent()">Update Event</button>
  <button ion-button block (click)="cancel()">Cancel</button>

</ion-content>
