<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Add Event" tabIcon="add-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Calendar" tabIcon="calendar"></ion-tab>
</ion-tabs>
