<!--
  Generated template for the SchedulePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Schedule</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <canvas #eventChart height="300"></canvas>
  <button ion-button block (click)="close()">Close</button>
</ion-content>
