<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <ion-list>
    <ion-toolbar>
      <ion-searchbar placeholder="Search for Events by title" showCancelButton (ionInput)="filterItems($event)" (ionCancel)="ionViewDidEnter()"></ion-searchbar>
    </ion-toolbar>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-icon name="time" color="primary" (click)="toSchedule('today')">     Today</ion-icon>
    </ion-item>

    <ion-item-sliding *ngFor="let event of allEvents; index as i">
      <ion-item *ngIf="checkDateToday(i)">
        <ion-label fixed (click)="toUpdate(i)">{{event.title}}</ion-label>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="delete(i)">
          <ion-icon name="delete"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-icon name="time" color="primary" (click)="toSchedule('tomorrow')">     Tomorrow</ion-icon>
    </ion-item>

    <ion-item-sliding *ngFor="let event of allEvents; index as i">
      <ion-item *ngIf="checkDateTomorrow(i)">
        <ion-label fixed (click)="toUpdate(i)">{{event.title}}</ion-label>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="delete(i)">
          <ion-icon name="delete"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-icon name="time" color="primary" (click)="toSchedule('week')">     This Week</ion-icon>
    </ion-item>

    <ion-item-sliding *ngFor="let event of allEvents; index as i">
      <ion-item *ngIf="checkDateWeek(i)">
        <ion-label fixed (click)="toUpdate(i)">{{event.title}}</ion-label>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="delete(i)">
          <ion-icon name="delete"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-icon name="time" color="primary" (click)="toSchedule('month')">     This Month</ion-icon>
    </ion-item>

    <ion-item-sliding *ngFor="let event of allEvents; index as i">
      <ion-item *ngIf="checkDateMonth(i)">
        <ion-label fixed (click)="toUpdate(i)">{{event.title}}</ion-label>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="delete(i)">
          <ion-icon name="delete"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-icon name="time" color="primary" (click)="toSchedule('year')">     This Year</ion-icon>
    </ion-item>

    <ion-item-sliding *ngFor="let event of allEvents; index as i">
      <ion-item *ngIf="checkDateYear(i)">
        <ion-label fixed (click)="toUpdate(i)">{{event.title}}</ion-label>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="delete(i)">
          <ion-icon name="delete"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
